@keyframes heartAnimate{ 
    0%,100%{transform:scale(1);}                     /*0%,100%时保持图形的原大小*/
    10%,30%{transform: scale(0.9);}                 /*10%,30%时图形缩小成0.9倍*/
    20%,40%,60%,80%{transform:scale(1.1);}          /*20%,40%,60%,80%时图形扩大成1.1倍*/
    50%,70%{ transform:scale(1.1);}                 /*50%,70%时图形扩大成1.1倍*/
}
#myheart{
     color:red;                             /*心当然要是红色的啦*/
    animation: heartAnimate 1s infinite;       /*心当然要是跳动的啦*/
}<link rel="stylesheet" href="/css/bilicard.css" type="text/css">